/Data Structure/Experiment/out/main.out
/Data Structure/Experiment/out/main.aux
/Data Structure/Experiment/out/main.log
/Data Structure/Experiment/out/main.synctex.gz
/Data Structure/Experiment/out/main.synctex.gz.sum.synctex
